html {
  background-size: 50px 50px, 50px 50px;
  background-image: linear-gradient(0deg, transparent 0 15%, rgba(0, 50, 0, .5) 16% 17%, transparent 18% 40%, rgba(180, 0, 0, .5) 41% 43%, transparent 44% 64%, rgba(0, 50, 0, .5) 65% 66%, transparent 67% 89%, rgba(180, 0, 0, .5) 89% 92%, transparent 93% 100%),
    linear-gradient(0deg, rgba(32, 100, 210, .5) 0 35%, transparent 36% 96%, rgba(32, 100, 210, .5) 97% 100%),
    linear-gradient(90deg, transparent 0 15%, rgba(0, 50, 0, .5) 16% 17%, transparent 18% 40%, rgba(180, 0, 0, .5) 41% 43%, transparent 44% 64%, rgba(0, 50, 0, .5) 65% 66%, transparent 67% 89%, rgba(180, 0, 0, .5) 89% 92%, transparent 93% 100%),
    linear-gradient(90deg, rgba(32, 100, 210, .5) 0 35%, transparent 36% 96%, rgba(32, 100, 210, .5) 97% 100%);
}

*{
  font-family:roboto
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

@media only screen and (max-width:625px) {
  #navbar #navOption {
    height: 50px;
    width: 80px;
    padding:2px;
    margin-top: 5px;
    font-size: small;
    font-weight: bold;
    justify-content: center;
  }

  #navbar img {
    display: none
  }

  #recipeCat #RecipeCard {
    width: 310px;
    height: fit-content;
    max-width: 310px;
  }

  #recipeCat #RecipeCard img {
    width: 100px;
    height: 100px;
    align-self: right;
  }

  #Mat #jump{
    top:0;
    right:0;
    border-radius: 3px 0px 0px 3px;
  }

  #Menu #recipeTop{
    flex-direction:column;
  }

  #recipeTop #recImage{
    width:fit-content;
    align-self:center;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#Mat {
  width: 90%;
  min-height: 500px;
  max-width:950px;
  margin: 30px 0px;
  padding: 30px 10px;
  background-color: rgb(28, 148, 124);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Menu {
  width: 95%;
  min-height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 0.607)
}

#navbar {
  height: fit-content;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

#navbar img {
  height: 70px;
  max-width: 90%;
  margin-bottom:2px;
  padding: 2px;
  border-radius: 8px;
  background-color: aliceblue;
}

#navOption {
  width: 125px;
  height: 125px;
  padding-bottom: 5px;
  font-style: oblique;
  font-weight:500;
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: black;
  border:solid aliceblue 2px;
}

#navOption span{
  margin-top:4px;
  height:38.4px;
  justify-items:center;
}

#recipeCat {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#RecipeCard {
  height: 300px;
  margin: 5px;
  background-color: orange;
  /* border: solid aliceblue 1px; */
}

#RecipeCard img {
  height: 150px;
  width: 150px;
  background-color: aliceblue;
  margin-left:5px;
  padding: 4px;
  border-radius: 3px
}

#welcome {
  font-family:roboto;
  /* font-style:oblique; */
  padding-top:40px;
  justify-self: top;
  text-align: center;
  height: 100%;
  color: black;
  /* background-color:aliceblue */
}

#welcome h1, h3{
  /* background-color:aliceblue */
}

#recipeDetails {
  width: fit-content;
  margin: 10px;
  padding: 10px;
  background-color: orange;
  align-self: center;
}

#specs {
  padding: 5px;
  margin-bottom: 5px;
  background-color: whitesmoke;
  border-radius: 0px 4px 4px 4px;
}

#recImage {
  margin-left: 10px;
  background-color: whitesmoke;
  padding: 5px;
}

#recImage img {
  height: 300px;
  width: 300px;
}

.adminOptions {
  padding: 5px;
  margin-right: 25px;
  width: fit-content;
  align-self: flex-end;
  justify-self: center;
}

#jump {
  width: 80px;
  padding: 5px;
  background-color: orange;
  border-radius: 3px;
  position:fixed;
  top:40px;
  right:10px;
}

#jump button {
  width: 80px;
  background-color: whitesmoke;
  border: none;
  border-radius: 7px 0px 0px 7px;
}


p {
  white-space: pre-wrap;
}