html{
  background-size: 50px 50px, 50px 50px;
  background-image:   linear-gradient(0deg, transparent 0 15%, rgba(0,50,0,.5) 16% 17%, transparent 18% 40%,rgba(180, 0, 0, .5) 41% 43%, transparent 44% 64%, rgba(0,50,0,.5) 65% 66%,transparent 67% 89%, rgba(180, 0, 0, .5) 89% 92%, transparent 93% 100%),
  linear-gradient(0deg, rgba(32,100,210,.5) 0 35%, transparent 36% 96%, rgba(32,100,210,.5) 97% 100%),
  linear-gradient(90deg, transparent 0 15%, rgba(0,50,0,.5) 16% 17%, transparent 18% 40%,rgba(180, 0, 0, .5) 41% 43%, transparent 44% 64%, rgba(0,50,0,.5) 65% 66%,transparent 67% 89%, rgba(180, 0, 0, .5) 89% 92%, transparent 93% 100%),
  linear-gradient(90deg, rgba(32,100,210,.5) 0 35%, transparent 36% 96%, rgba(32,100,210,.5) 97% 100%);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Body{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
}

#Mat{
  width: 90%;
  min-height: 500px;
  margin: 30px 0px;
  background-color:aliceblue;
  display:flex;
  justify-content:center;
  align-items:center;
}

#Menu{
  width: 95%;
  height: 95%;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  background-color:olivedrab
}

#navbar{
  height:175px;
  padding:10px;
  display:flex;
  justify-content: space-evenly;
}

#navOption{
  width:125px;
  height:125px;
  background-color:white;
}

#recipeCat{
  /* height:800px; */
  display:flex;
  align-items:center;
  justify-content:space-evenly;
  flex-wrap:wrap;
  /* background-image: url('/src/images/cuttingboard.png');
  background-size:contain;
  background-repeat:no-repeat;
  background-position: center; */
}

#RecipeCard{
  margin:5px;
}
